$minWidth: 320px;
$maxWidth: 1440px;

// colors ========================================================//
$colorRed: #d81d48;
$colorDark: #242B33;
$colorGreen: #12aa92;
$colorSalat: #8fbc8f;
$colorLightBrawn: #b3b3b3;

// default font parameter ========================================//
$fontFamily: "roboto";
$fontSize: 16px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontFamily, san-sarif ;
}

body{
    background-color: #404244;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
    width: $maxWidth;
    font-size: $fontSize;
}

h3{
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $colorSalat;
    font-weight: 300;
}

.form__block{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    width: 400px;
    height: 500px;
    background-color: $colorDark;
}

.input__block{
    position: relative;
    padding: 10px 10px;
}

.imput__check{
    opacity: 0;
    margin: 0 0 10px 0;
    color: $colorRed;
    letter-spacing: 1px;
}

.imput__check._visible{  
    opacity: 1;
}

.input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    padding: 0 10px;
    outline: none;
    border: 1px solid transparent;
}

.input::placeholder{
    color:#a0a1a5ee
}

.input._error{   
    box-shadow:0 0 15px $colorRed;
}

.input__block p{
    display: block;
    color: #b3b3b3;
    font-size: 14px;
    margin: 0 0 4px 0;
    letter-spacing: 2px;
}

.imput__checkbox{
    accent-color: $colorSalat;
}

.checkbox__label{
    color: $colorLightBrawn;
    user-select: none;
}

.imput__checkbox._error + .checkbox__label {
    color: $colorRed;
}
.sign-up__button{
    position: relative;
    background: none;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    transition: .4s;
    min-height: 60px;
    width: 180px;
    font-weight: 500;
    font-size: 16px;
    z-index: 1;
    overflow: hidden;
    letter-spacing: 2px;
    color: $colorSalat;
    border: 2px solid $colorSalat;
    cursor: pointer;
}

.sign-up__button:hover{
    color: #242B33;
}

.sign-up__button::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: #8fbc8f;
    transform: skewX(35deg);
    transition: width 1s;
    z-index: -1;
}

.sign-up__button:hover::before{
    width: 150%;
}

.login__block {
    position: absolute;
    bottom: 30px;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__block.login__register{
    left: 12%;
}

.login__back{
    left: 40%;
}

.login__text {
    color: $colorLightBrawn;
    letter-spacing: 1px;
}
.login__link {
    margin: 0 0 0 5px;
    letter-spacing: 1px;
    color: $colorSalat;
}

.imput__forgot{
    color: $colorSalat;
    letter-spacing: 1px;
    padding: 0 10px;
}

